$imageSize: 480px; 

.clock {
    width: $imageSize;
    height: $imageSize;
    margin: 193px 0 203px 65px;
    background-image: url(../../images/oclock.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hand {
    width: $imageSize;
    height: $imageSize;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;

    &Second {
        background-image: url(../../images/second-hand.png);
    }

    &Mimute {
        background-image: url(../../images/minute-hand.png);
    }

    &Hour {
        background-image: url(../../images/hour-hand.png);
    }
}